.Lottery{
    border: solid 2px slateblue;
    padding: 1em 0 2em 0;
    text-align: center;
    margin: 1em auto auto;
    border-radius: 10px;
    width: 40em;
}

.Lottery button{
    background-color: #3a0ca3;
    color: white;
    font-size: 120%;
    border-radius: 10px;
    margin-top: 1em;
    border-width: 0;
    padding: 6px;
    outline-width: 0;
}